.row {
  display: flex;
}

.gap-sm {
  gap: 12px;
}

.gap-md {
  gap: 24px;
}

.gap-lg {
  gap: 50px;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}
.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.mr-sm {
  margin-right: 50px;
}

.orange-text {
  color: #f14a16;
}
